.logo {
  display: flex;
  margin: 10px;
  margin-bottom: 0;
  background-color: #f7f7f7;
  /* width: 62.3%; */
}

.logo img {
  width: 19%;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.icons {
  margin: 0 15px;
}

.dropdown {
  position: absolute;
  top: 78px;
  right: 30px;
}

.hide-menu {
  display: none;
}

.userFullName {
  font-size: 15px;
  margin-right: 2px;
  color: black;
}
