.appbar {
  margin: 5px 10px;
}

.toolbar {
  background-color: white;
  color: #9a1752;
}

.toolbar img {
  width: 253px;
}

.typography {
  flex-grow: 1;
}
.icons {
  margin: 0 15px;
}

.dropdown {
  position: absolute;
  top: 78px;
  right: 30px;
}

.hide-menu {
  display: none;
}

.userFullName {
  font-size: 15px;
  margin-right: 2px;
  color: black;
}
