.container {
  box-shadow: 0 0 4px #8d8d8d;
  background-color: #f7f7f7;
  margin: auto;
  margin-top: 20%;
  width: 75%;
  padding: 7px;
}

.formData {
  margin: 15px 45px 15px 55px;
}
.formData path {
  width: 10px;
}

.footer {
  color: gray;
  font-size: 12px;
  text-align: center;
}

.logo {
  display: flex;
  margin-top: 15px;
}

.logo img {
  margin: auto;
  width: 250px;
}
